{% load static %}

<!DOCTYPE html>
<html lang="uz">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>{{ book.title }}</title>

    <link rel="stylesheet"
          href="{% static 'css/style.css' %}">

</head>

<body>

<div class="detail-container">

    <div class="book-detail">

        <!-- Kitob nomi -->

        <h1>
            {{ book.title }}
        </h1>


        <!-- Narxi -->

        <p class="detail-price">

            <b>Narxi:</b>

            {{ book.price }}

            {% if book.price >= 10 %}

            <span class="expensive">
                    qimmat
                </span>

            {% else %}

            <span class="cheap">
                    arzon
                </span>

            {% endif %}

        </p>


        <!-- Muqaddima -->

        {% if book.introduction %}

        <div class="introduction">

            <h2>Muqaddima</h2>

            <p>
                {{ book.introduction }}
            </p>

        </div>

        {% endif %}


        <!-- Rasm -->

        <div class="book-image">

            {% if book.image %}

            <img src="{{ book.image.url }}"
                 alt="{{ book.title }}">

            {% else %}

            <img
                    src="https://demofree.sirv.com/nope-not-here.jpg"
                    alt="Rasm mavjud emas">

            {% endif %}

        </div>

        <div class="book-image">
            <form method="post" action="{% url 'save_comment' book.pk %}">
                {% csrf_token %}
                <textarea name="text" style="font-size: 22pt; padding: 15px; border-radius: 15px;" rows="4"
                          cols="40"></textarea>
                <button type="submit" style="font-size: 22pt; padding: 15px; border-radius: 15px;">Send</button>
            </form>
        </div>


        <!-- Orqaga -->

        <a href="{% url 'home' %}"
           class="back-button">

            ← Ortga

        </a>


        <h2 style="margin-top: 30px;">Qoldirilgan izohlar</h2>

        {% for comment in comments %}
        <div class="introduction">
            <p>{{ comment.text }}</p>
            <p style="font-size: 10pt;">
                <b>Author: </b><a href="#">{{ comment.user.username }}</a>.
                <span style="font-size: 8pt;"><b>{{ comment.created }}</b></span>
            </p>
            {% if request.user.is_authenticated and request.user == comment.user %}
            <a href="{% url 'update_comment' comment.id %}">Update</a>
            {% endif %}

            {% if request.user.is_authenticated and request.user == comment.user or request.user.is_superuser %}
            <a href="{% url 'delete' comment.id %}">Delete</a>
            {% endif %}
        </div>
        {% endfor %}

    </div>

</div>


<script src="{% static 'js/script.js' %}"></script>

</body>
</html>
